/* Parametros */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */
/* variables */
   


/* Normalizadores */
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0.5px;
        text-decoration: none;
        /* outline: 2px dashed purple; */
    }
    h1, h2, h3, h4, h5, h6{
    font-family:'Poppins', sans-serif; ;
    }
    h1{
    font-size: 93px;
    font-weight: 300;
    letter-spacing: -1.5px;  
    }
    h2{
    font-size: 58px;
    font-weight: 300;
    letter-spacing: -.5px;    
    }
    h3{
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 0px;      
    }
    h4{
    font-size: 33px;
    font-weight: 400;
    letter-spacing:0.25px;      
    }
    h5{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0px;
    }
    h6{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15px;
    }
/* Reglas recursivas */
    .sub1{
        font-family:'Poppins', sans-serif; 
        font-size: 15px;
        letter-spacing: 0.15px;
    }
    .sub2{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        letter-spacing: 0.1px;  
    }  
    .bg-blue{
        background-color: #D91828 !important;
    }

/* Reglas generales */
.marco{
     width: 100%;
     max-width: 1920px;
     margin: auto;
/* header */
}
header{
   
    width: 100%;
    padding: 20px;
    background: black;
    font-family: 'Ubuntu', sans-serif;
    /*flex*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    transition: 1s;
}  
.logo{
    color: #D9D9D9;
    font-size: 9px;
    font-weight: 500;
    margin-left: -8px;
}
 /* menu ordenador */
 .menu-desk{
    display: none;
 }
/* menu-mob */
.btn-menu-mob{
    width: 40px;
    height: 40px;
    background-color:#D9D9D9 ;
    color: rgb(0, 0, 0);
    font-size: 24px;
    transition: .5s;
}
.btn-menu-mob:hover{
    background-color:#D91828
}
/*seccion 1 */
.s1{
    width: 100%;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    color: #D9D9D9;
    position: relative; 
    z-index: 1;
}    
.s1 article{
    width: 88%;
    height: 80px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    margin: auto;
}
.s1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top ;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.s1 article b{
    color:#D91828
}
/* seccion 2 */
.s2{
    width: 100%;
    padding: 15px;
    text-align: center; 
}
.s2 h4{
    margin: 30px;
}
.s2 article{
    width: 100%;
    padding: 2px   
}
.s2 article a{
    color: #D91828;
}
.s2 img{
    margin: 4px;
    width: 98%;
    height: 208px;
    object-fit: cover;
    border: 2px solid black ;
    border-radius: 4%;
}
/* seccion 3 */
.s3{
    text-align: center;
}
.s3 h4{
    margin: 30px;
}

.s3 i{
    transition:0.3s;
    font-size: 48px;
    margin: 20px;
    color: black;
}
.i1:hover{
    color: red;
}
.i2:hover{
    color: orange;
}
.i3:hover{
    color: green;
}
.i4:hover{
    color: rgb(0, 87, 193);
}
.i5:hover{
    color: rgb(197, 0, 92);
}
.i6:hover{
    color: rgb(255, 221, 0);
}
.s3 h6{
    color: #D91828;
    margin: 6px;
}
.s3 h6:hover{
    color: #590209;
    transition: 1s;
}
.s4{
    width: 100%;
    height: 160px;
    background-color: #D9D9D9;
}
.s4 h5{
    position: absolute;
    z-index: 2;
    text-align: center;
}
.s4 img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.main-carousel{
    width: 100%;
    height: 100%;
}
.main-carousel .carousel-cell{
    width: 80%;
    height: 100%;
    margin-right: 10px 4px;  
}
.main-carousel .flickity-button{
    background-color: #D91828;
    color: black;
}
.flickity-page-dots{
    display: none;
}
.main-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-carousel h1{
    margin: 20px 0px;
}
.main-carousel a{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Reglas Especificas */

/* Responsive */
/* menu ordenador */
@media (min-width: 768px){    
.btn-menu-mob{
    display: none;
}
.menu-desk{
    display: flex;
}
.menu-desk a{
    padding: 6px;
    height: 43px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: 30px;
}
.menu-desk{
    display: flex;
}
.logo{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-left: 50px;
}
.s1{
    width: 100%;
    height: 100vh;
}    
.s1 article{
    width: 85%;
    height: 40px;
}
.s1 video{
    object-fit: cover;
    object-position: top center;
}   
.s2{
    width: 100%;
    padding: 95px;
}
.s2 article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}
.s2 h2{
    color: #D91828;
}
.s2 article a{
    color: #D91828;
}
.s2 img{
    margin-right: 50px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 2px solid black ;
    border-radius: 4%;
}
.s3-content{
    /*flex*/
    display: flex;
    flex-wrap: wrap;
    padding: 70px;

}
.s3-content div{
    width: 33%;
}
.main-carousel{
    height: 52vh;    
}
.main-carousel .carousel-cell{
    width: 100%;
}
}